header{
    background-color: #11cbd7;
}
nav, aside{
    background-color: #c6f1e7;
}
nav a {
    display: block;
    text-decoration: none;
    margin: 0;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fa4659;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.5s;
  }
.main{
    background-color: #f0fff3;
}


footer{
    background-color: #11cbd7;

}

table{
    border-collapse: collapse;
	margin: auto;
	width: 60%;
	border: 1px solid #1E5735; 
}

tr{
  text-align: center;
}

td {
	text-align: center;
	border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
	/* Prevent text selection */
	-webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    word-break: break-word;
}
canvas{
  border:1px solid #000000;
}

th{
  background-color: #fa4659;
  -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}



button{

  display: block;
    text-decoration: none;
    margin: 0;
    text-align: center;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #fa4659;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.5s;
}


.main, nav, aside
{
    height: 85vh;
    
}
.main{
  overflow-y: scroll;
}
fieldset{
  text-align: center;
  align-content: center;
}

footer, header{
  text-align: center;
}


h3{
  word-break: break-word;
}


#revers{

width: 100%;

}

/*RWD------------------*/


* {
  box-sizing: border-box;
}


.row::after {
  content: "";
  clear: both;
  display: block;
}



[class*="col-"] {
    float: left;
    padding: 15px;
    
  }

/*mobile phone */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

}

